<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.ssliao" level="DEBUG" additvity="false">
        <appender-ref ref="consoleAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="consoleAppender" />
    </root>
</configuration>
